﻿
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thống kê</title>
    <link href="~/Content/admin/css/admin.css" rel="stylesheet">
    <link href="~/Content/admin/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <h2>Thống kê</h2>
    <div class="row p-t-20">
        <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-4" style="background-color: #b71c1c">
                <div class="card-body text-white">Thống kê công việc có nhiều NKSLK nhất</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/Statistics/MostPrevalentWorkStatistics">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-4" style="background-color: #f4511e">
                <div class="card-body text-white">Thống kê công nhân làm việc ca 3 (22h - 6h)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/Statistics/ThirdShiftStatistics">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-4" style="background-color: #2e7d32">
                <div class="card-body text-white">Thống kê NKSLK của nhân viên theo tuần, tháng</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/Statistics/NKSLKStatistics">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-4" style="background-color: #0277bd">
                <div class="card-body text-white">Thống kê bảng lương sản phẩm của công nhân</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/Statistics/SalaryStatistics">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-4" style="background-color: #512da8">
                <div class="card-body text-white">Thống kê số ngày công đi làm trong tháng của công nhân</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/Statistics/WorkdayStatistics">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card text-white mb-4" style="background-color: #00796b">
                <div class="card-body text-white">Thống kê danh mục công nhân có số giờ công trong tuần vượt chuẩn</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="~/Statistics/WorkinghourStatistics">Chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


