﻿@model IEnumerable<NKSLK.EF.NKSLKModel>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Thống kê</title>
    <link href="~/Content/admin/css/admin.css" rel="stylesheet">
    <link href="~/Content/admin/css/styles.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Custom/custom.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <h3 style="display:inline ; float:right">Thống kê NKSLK của nhân viên theo tuần, tháng</h3>
        </div>
    </div>
    <div class="row p-t-8">
        <div class="col-lg-12">
            @using (Html.BeginForm("NKSLKStatistics", "Statistics", FormMethod.Get))
            {
                @*idLabour*@
                <h5 style="display:inline" class="m-r-3">Công nhân</h5>
                @Html.DropDownList("idLabour", (SelectList)ViewBag.labourList, new { @class = "dataTable-selector" })

                @*criterion*@
                <h5 style="display:inline" class="m-r-3 m-l-7">Tiêu chí</h5>
                @Html.DropDownList("criterion",
                 new SelectList(new List<SelectListItem>
                     {
                        new SelectListItem { Selected = true, Text = "Tất cả", Value = "All"},
                        new SelectListItem { Selected = true, Text = "Tuần", Value = "Week"},
                        new SelectListItem { Selected = true, Text = "Tháng", Value = "Month"},
                     }, "Value", "Text"),
                 new { @class = "dataTable-selector", @id = "criterion" })

                @*selecteDate*@
                @Html.TextBox("selectedDate", "", new
                {
                    @class = "dataTable-input date-picker m-l-3",
                    @style = "width: 175px; display:inline",
                    @Value = ViewBag.selectedDate,
                    @readonly = true,
                    @id = "selectedDate"
                })

                @*pageSize*@
                <h5 style="display:inline" class="m-r-3 m-l-7">Số bản ghi</h5>
                @Html.DropDownList("pageSize",
                 new SelectList(new List<SelectListItem>
                     {
                        new SelectListItem { Selected = true, Text = "5", Value = "5"},
                        new SelectListItem { Selected = true, Text = "10", Value = "10"},
                        new SelectListItem { Selected = true, Text = "15", Value = "15"},
                        new SelectListItem { Selected = true, Text = "20", Value = "20"},
                        new SelectListItem { Selected = true, Text = "25", Value = "25"}
                     }, "Value", "Text"),
                 new { @class = "dataTable-selector" })

                @*search*@
                <h5 style="display:inline" class="m-r-3 m-l-7">Tìm kiếm</h5>
                @Html.TextBox("search", "", new
                {
                    @class = "dataTable-input",
                    @style = "width: 175px; display:inline",
                    @placeholder = "Search..."
                })
                <button class="btn btn-primary m-b-3 m-l-3" style="padding: 0.35rem 0.75rem; line-height:1.2">Thống kê</button>
            }
        </div>
    </div>
    <div class="row p-t-15">
        <div class=" col-lg-12">
            <table class="table">
                <tr>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 2%; text-align: center">
                        STT
                    </th>
                    @{ string symbol; }
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 12%; text-align: center">
                        @{symbol = ViewBag.order == "ID_asc" ? " ⯅" : ViewBag.order == "ID_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.ID_CONGNHAN).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.ID_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 15%; text-align: center">
                        @{symbol = ViewBag.order == "LabourName_asc" ? " ⯅" : ViewBag.order == "LabourName_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.HoTen).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.LabourName_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 11%; text-align: center">
                        @{symbol = ViewBag.order == null ? " ⯅" : ViewBag.order == "Day_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.NgayThucHienKhoan).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.Day_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 11%; text-align: center">
                        @{symbol = ViewBag.order == "Start_asc" ? " ⯅" : ViewBag.order == "Start_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.GioBatDau).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.Start_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 11%; text-align: center">
                        @{symbol = ViewBag.order == "End_asc" ? " ⯅" : ViewBag.order == "End_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.GioKetThuc).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.End_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 11%; text-align: center">
                        @{symbol = ViewBag.order == "WorkName_asc" ? " ⯅" : ViewBag.order == "WorkName_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.TenCongViec).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.WorkName_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 11%; text-align: center">
                        @{symbol = ViewBag.order == "ProductName_asc" ? " ⯅" : ViewBag.order == "ProductName_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.TenSanPham).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.ProductName_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 9%; text-align: center">
                        @{symbol = ViewBag.order == "Quantity_asc" ? " ⯅" : ViewBag.order == "Quantity_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.SanLuong).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.Quantity_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                    <th style="background-color: #593bdb !important; color: #fff !important; width: 7%; text-align: center">
                        @{symbol = ViewBag.order == "Batch_asc" ? " ⯅" : ViewBag.order == "Batch_desc" ? " ⯆" : "";}
                        @Html.ActionLink(WebUtility.HtmlDecode(Html.DisplayNameFor(model => model.SoLoSanPham).ToHtmlString() + symbol),
                                        "NKSLKStatistics",
                                        new
                                        {
                                            page = 1,
                                            pageSize = ViewBag.pageSize,
                                            idLabour = ViewBag.idLabour,
                                            criterion = ViewBag.criterion,
                                            selectedDate = ViewBag.selectedDate,
                                            search = ViewBag.search,
                                            order = ViewBag.Batch_Order
                                        }, new { @style = "color: #fff" })
                    </th>
                </tr>
                @if (Model != null)
                {
                    int i = (ViewBag.page - 1) * ViewBag.pageSize + 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td style="color: #000 !important; text-align: center">
                                @Convert.ToInt32(i)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.ID_CONGNHAN)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.HoTen)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Convert.ToDateTime(item.NgayThucHienKhoan).ToString("dd/MM/yyyy")
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.GioBatDau)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.GioKetThuc)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.TenCongViec)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.TenSanPham)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.SanLuong)
                            </td>
                            <td style="color: #000 !important; text-align: center">
                                @Html.DisplayFor(modelItem => item.SoLoSanPham)
                            </td>
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    </div>
    <div class="row p-t-10">
        <div class="col-lg-12">
            <div class="dataTable-pagination" style="float:right">
                @Html.PagedListPager((IPagedList)Model,
                page => Url.Action("NKSLKStatistics",
                new
                {
                    page,
                    pageSize = ViewBag.pageSize,
                    idLabour = ViewBag.idLabour,
                    criterion = ViewBag.criterion,
                    selectedDate = ViewBag.selectedDate,
                    search = ViewBag.search,
                    order = ViewBag.order
                }),
                new PagedListRenderOptions
                {
                    MaximumPageNumbersToDisplay = 5,
                    LinkToPreviousPageFormat = "<<",
                    LinkToNextPageFormat = ">>",
                    LinkToFirstPageFormat = "First",
                    LinkToLastPageFormat = "Last"
                })
            </div>
        </div>
    </div>
</body>
</html>