﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/admin/css/admin.css" rel="stylesheet">
    <link href="~/content/admin/css/styles.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>

<body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="~/Content/images/logo.png" alt="">
                <img class="logo-compact" src="~/Content/images/logo-text.png" alt="">
                <img class="brand-title" src="~/Content/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between" style="justify-content: flex-end !important;">
                        <h3 class="m-b-0 m-r-10">@User.Identity.Name</h3>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="~/Login/Logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li>
                        <a href="~/Statistics/Index" aria-expanded="false">
                            <i class="icon icon-chart-bar-33"></i><span class="nav-text">Thống kê</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Account" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Tài khoản</span>
                        </a>
                    </li>
                    <li>
                        <a href="/NKSLK" aria-expanded="false">
                            <i class="icon icon-single-content-03"></i><span class="nav-text">Nhật ký sản lượng khoán</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Staff/Index" aria-expanded="false">
                            <i class="icon icon-users-mm"></i><span class="nav-text">Công nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Work" aria-expanded="false">
                            <i class="icon icon-home"></i><span class="nav-text">Công việc</span>
                        </a>
                    </li>
                    <li>
                        <a href="/WorkDetail" aria-expanded="false">
                            <i class="icon icon-tag-content"></i><span class="nav-text">Chi tiết công việc</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Product" aria-expanded="false">
                            <i class="icon icon-app-store"></i><span class="nav-text">Sản phẩm</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    @Scripts.Render("~/Content/vendor/global/global.min.js")
    @Scripts.Render("~/Content/js/quixnav-init.js")
    @Scripts.Render("~/Content/js/custom.min.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.13.0.min.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/Custom/custom.js")
    @RenderSection("scripts", required: false)

</body>

</html>